<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <%- include('../partials/nav'); %>


    <h2>Mi carrito</h2>
    <table class="table">

        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Precio</th>
                <th scope="col">Link</th>
                <th scope="col"></th>
            </tr>
        </thead>
         <tbody>
            <% carrito.forEach(function(carrito) { %>
            <tr>
                <td><%=carrito.nombre%> 1</td>
                <td><%=carrito.fecha%>2</td> 
                <td><%=carrito.productos%>3</td>
            </tr>
            <% }); %>
        </tbody>
      
    </table>

      <form action="/sendWhatsApp" method="get">
        <div class="text-center">
        <button class="btn btn-danger my-5">Iniciar pedido</button>
        </div>
        </form>
</body>

</html>